:root {
  --white: #f7f7f7;
  --white-secondary: #acacac;
  --black: #000000;
  --white1: #ffffff12;
  --white2: #ffffff01;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header nav {
  height: 97px;
  display: flex;
  align-items: center;
}
header nav .logo {
  color: var(--white);
  text-decoration: none !important;
  font-weight: 500;
}
header nav a {
  color: var(--white-secondary);
  text-decoration: none;
  font-weight: 450;
}
header nav .menu {
  display: flex;
  gap: 48px;
  align-items: center;
  flex: 1 10px;
  width: 10px;
  justify-content: center;
}
header nav .whiteBtn {
  display: flex;
}
header nav .darkBtn {
  display: none;
}
header.transparent a {
  color: var(--black);
}
header.transparent nav .whiteBtn {
  display: none;
}
header.transparent nav .darkBtn {
  display: flex;
}
header.scrolled {
  background: var(--white2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  padding: 0 24px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 100px;
  text-decoration: none;
}
.btn.whiteBtn {
  background: var(--white);
  color: var(--black);
}
.btn.darkBtn {
  background: var(--black);
  color: var(--white);
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: local("Cabinet Grotesk Regular") url(/assets/fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Cabinet Grotesk";
  src: local("Cabinet Grotesk Medium") url(/assets/fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff2);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Cabinet Grotesk";
  src: local("Cabinet Grotesk Bold") url(/assets/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Cabinet Grotesk";
  src: local("Cabinet Grotesk Extrabold") url(/assets/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff2);
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Cabinet Grotesk";
  src: local("Cabinet Grotesk Black") url(/assets/fonts/CabinetGrotesk/CabinetGrotesk-Black.woff2);
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: local("CircularStd-Book") url(/assets/fonts/CircularStd/CircularStd-Book.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: local("CircularStd-BookItalic") url(/assets/fonts/CircularStd/CircularStd-BookItalic.woff2);
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: local("CircularStd-Medium") url(/assets/fonts/CircularStd/CircularStd-Medium.woff2);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: local("CircularStd-MediumItalic") url(/assets/fonts/CircularStd/CircularStd-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: local("CircularStd-Bold") url(/assets/fonts/CircularStd/CircularStd-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: local("CircularStd-BoldItalic") url(/assets/fonts/CircularStd/CircularStd-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: local("CircularStd-Black") url(/assets/fonts/CircularStd/CircularStd-Black.woff2);
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: local("CircularStd-BlackItalic") url(/assets/fonts/CircularStd/CircularStd-BlackItalic.woff2);
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Circular Std";
  font-size: 20px;
  color: var(--white-secondary);
  background: var(--black);
  margin: 0;
}
body main section:first-child {
  padding-top: 97px;
}

.bodyCont {
  max-width: 1210px;
  margin: auto;
  padding: 0 15px;
}/*# sourceMappingURL=style.css.map */