@use "styles/components/colors" as *;

@use "styles/components" as *;

@font-face {
    font-family: "Cabinet Grotesk";
    src: local("Cabinet Grotesk Regular"),
        url(/assets/fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff2)
            format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Cabinet Grotesk";
    src: local("Cabinet Grotesk Medium"),
        url(/assets/fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff2)
            format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Cabinet Grotesk";
    src: local("Cabinet Grotesk Bold"),
        url(/assets/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff2)
            format("woff2");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Cabinet Grotesk";
    src: local("Cabinet Grotesk Extrabold"),
        url(/assets/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff2)
            format("woff2");
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Cabinet Grotesk";
    src: local("Cabinet Grotesk Black"),
        url(/assets/fonts/CabinetGrotesk/CabinetGrotesk-Black.woff2)
            format("woff2");
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: "Circular Std";
    src: local("CircularStd-Book"),
        url(/assets/fonts/CircularStd/CircularStd-Book.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Circular Std";
    src: local("CircularStd-BookItalic"),
        url(/assets/fonts/CircularStd/CircularStd-BookItalic.woff2)
            format("woff2");
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Circular Std";
    src: local("CircularStd-Medium"),
        url(/assets/fonts/CircularStd/CircularStd-Medium.woff2) format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Circular Std";
    src: local("CircularStd-MediumItalic"),
        url(/assets/fonts/CircularStd/CircularStd-MediumItalic.woff2)
            format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Circular Std";
    src: local("CircularStd-Bold"),
        url(/assets/fonts/CircularStd/CircularStd-Bold.woff2) format("woff2");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Circular Std";
    src: local("CircularStd-BoldItalic"),
        url(/assets/fonts/CircularStd/CircularStd-BoldItalic.woff2)
            format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Circular Std";
    src: local("CircularStd-Black"),
        url(/assets/fonts/CircularStd/CircularStd-Black.woff2) format("woff2");
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Circular Std";
    src: local("CircularStd-BlackItalic"),
        url(/assets/fonts/CircularStd/CircularStd-BlackItalic.woff2)
            format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-family: "Cabinet Grotesk";
}

body {
    font-family: "Circular Std";
    font-size: 20px;
    color: var(--white-secondary);
    background: var(--black);
    margin: 0;
    line-height: 1.6;

    main {
        section:first-child {
            padding-top: calc(97px + 145px);
        }
    }

    @media (max-width: 500px) {
        font-size: 16px;

        main {
            section:first-child {
                padding-top: calc(68px + 78px);
            }
        }
    }
}

.logo {
    font-size: 20px;
    height: 49px;
    display: flex;
    align-items: center;
    font-weight: 500;
    text-decoration: none;

    &.dark {
        color: var(--black);
    }

    &.white {
        color: var(--white);
    }

    @media (max-width: 500px) {
        font-size: 16px;
        height: 36px;
    }
}

.bodyCont {
    max-width: 1270px;
    margin: auto;
    padding: 0 15px;
}

@for $i from 1 through 7 {
    .fw#{$i} {
        font-weight: calc(100 * #{$i});
    }
}

.txt32 {
    font-size: 32px !important;
    line-height: 1.25 !important;

    @media (max-width: 500px) {
        font-size: 24px !important;
    }
}

.txt48 {
    font-size: 48px !important;
    line-height: 1.25 !important;

    @media (max-width: 500px) {
        font-size: 24px !important;
    }
}

.txtWhite {
    color: var(--white);
}

.mb24 {
    margin-bottom: 24px;

    @media (max-width: 500px) {
        margin-bottom: 16px;
    }
}

.openModal {
    cursor: pointer;
}
