<div id="modal">
    <div class="backdrop modalClose"></div>
    <div class="modalContent">
        <div class="modalHead">
            <div class="modalTitle"></div>
            <div class="closeBtn modalClose">
                <img src="/assets/icons/times.svg" alt="" />
            </div>
        </div>
        <div class="modalBody">
            <img src="" alt="" />
        </div>
    </div>
</div>
<footer>
    <div class="bodyCont">
        <nav>
            <div class="logoAndLinks">
                <a href="/" class="logo white">David Shittu</a>
                <div class="socialLinks">
                    <a
                        href="https://www.linkedin.com/in/davidshittu"
                        target="_blank"
                        >LinkedIn</a
                    >
                    <a href="https://twitter.com/shittu_david" target="_blank"
                        >X (Twitter)</a
                    >
                    <a href="https://davidshittu.medium.com" target="_blank"
                        >Medium</a
                    >
                    <a href="https://dribbble.com/SDavid" target="_blank"
                        >Dribbble</a
                    >
                </div>
            </div>
            <a
                href="mailto:davidshittu02@gmail.com?body=Hello%20David"
                target="_blank"
                class="btn whiteBtn"
                >Get in touch</a
            >
        </nav>
    </div>
    <div id="scrollTop"></div>
</footer>
<script src="/js/svgIcons.js"></script>
<script src="/js/footer.js"></script>
