<header>
    <nav class="bodyCont">
        <a href="/" class="logo dark">David Shittu</a>
        <a href="/" class="logo white">David Shittu</a>
        <div id="menu">
            <a href="/">Home</a>
            <a href="/about.html">About</a>
            <a href="https://davidshittu.medium.com/" target="_blank">Blog</a>
            <a
                href="mailto:davidshittu02@gmail.com?body=Hello%20David"
                target="_blank"
                class="btn whiteBtn"
                >Get in touch</a
            >
        </div>
        <div class="rightActions">
            <a
                href="mailto:davidshittu02@gmail.com?body=Hello%20David"
                target="_blank"
                class="btn darkBtn"
                >Get in touch</a
            >
            <a
                href="mailto:davidshittu02@gmail.com?body=Hello%20David"
                target="_blank"
                class="btn whiteBtn"
                >Get in touch</a
            >
            <div id="toggle">
                <div id="toggleInner">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </nav>
</header>
<script>
    document.getElementsByTagName("header")[0].classList.add(headerClass);
    const as = document.querySelectorAll("header #menu a");
    as.forEach((a) => {
        a.classList[
            a.textContent.match(new RegExp(page, "i")) ? "add" : "remove"
        ]("active");
    });
</script>
