<header>
    <nav class="bodyCont">
        <a href="/" class="logo dark">David Shittu</a>
        <a href="/" class="logo white">David Shittu</a>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/about.html">About</a>
            <a href="/">Blog</a>
        </div>
        <a href="/" class="btn darkBtn">Get in touch</a>
        <a href="/" class="btn whiteBtn">Get in touch</a>
        <div id="toggle"></div>
    </nav>
</header>
<script>
    document.getElementsByTagName("header")[0].classList.add(headerClass);
</script>
