<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Google tag (gtag.js) -->
<script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-TBNYGRHMNN"
></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-TBNYGRHMNN");
</script>

<link
    rel="preload"
    as="style"
    href="/style.css"
    type="text/css"
    crossorigin="anonymous"
/>
<link
    rel="preload"
    as="font"
    href="/assets/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff2"
    type="font/woff2"
    crossorigin="anonymous"
/>
<link
    rel="preload"
    as="font"
    href="/assets/fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff2"
    type="font/woff2"
    crossorigin="anonymous"
/>
<link
    rel="preload"
    as="font"
    href="/assets/fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff2"
    type="font/woff2"
    crossorigin="anonymous"
/>
<link
    rel="preload"
    as="font"
    href="/assets/fonts/CircularStd/CircularStd-Book.woff2"
    type="font/woff2"
    crossorigin="anonymous"
/>
<link
    rel="preload"
    as="font"
    href="/assets/fonts/CircularStd/CircularStd-Medium.woff2"
    type="font/woff2"
    crossorigin="anonymous"
/>
<link
    rel="preload"
    as="font"
    href="/assets/fonts/CircularStd/CircularStd-Bold.woff2"
    type="font/woff2"
    crossorigin="anonymous"
/>
<link rel="stylesheet" href="/style.css" type="text/css" />
<link rel="icon" href="/assets/images/favicon.png" />
