<!--#include virtual="/components/footer.html" -->
<script src="/js/bannerCarousel.js"></script>
<script>
    const carousels = document.querySelectorAll(".carouselParent");
    carousels.forEach((carousel) => {
        new FlexSliderComponent({
            parent: carousel,
            slideResizeConfig: [
                { minW: 400, slideNo: 1 },
                { maxW: 400, slideNo: 1 },
            ],
            canDrag: true,
            infiniteSlide: carousel.classList.contains("infinite"),
            autoSlide: carousel.classList.contains("infinite"),
            onClick: (e) => {
                console.log(e);
                modalOpen(
                    carousel.querySelectorAll(".carouselItem img").item(e.index)
                );
            },
            onIndChng: (ind) => {
                const indicators = carousel.parentElement.querySelectorAll(
                    ".indicators .indicator"
                );
                indicators.forEach((indicator, i) => {
                    indicator.classList[i === ind ? "add" : "remove"]("active");
                });
            },
        });
    });
</script>
