.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    padding: 0 24px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 100px;
    text-decoration: none !important;
    gap: 8px;
    white-space: nowrap;
    transition: 0.3s ease;

    &.whiteBtn {
        background: var(--white);
        color: var(--black) !important;

        &:hover {
            background: var(--white-tertiary);
        }
    }

    &.darkBtn {
        background: var(--black);
        color: var(--white) !important;

        &:hover {
            background: #252525;
        }
    }

    @media (max-width: 500px) {
        font-size: 14px;
        height: 36px;
        padding: 0 16px;
    }
}
