.fadeAnim {
    & > * {
        position: relative;
        transition: 1s ease;
        transform: translateY(400px);
        opacity: 0;
    }
    &.noFade {
        & > * {
            opacity: 1;
        }
    }
    @for $i from 1 through 600 {
        &.bottom#{$i} {
            & > * {
                top: #{$i}px;
            }
        }
    }
    @for $i from 0 through 9 {
        @for $j from 1 through 9 {
            &.delay#{$i}-#{$j} {
                & > * {
                    transition-delay: #{(($i * 10) + $j) / 10}s;
                }
            }
        }
    }
    &.left {
        & > * {
            left: -400px;
            top: 0;
        }
    }
    &.right {
        & > * {
            left: 400px;
            top: 0;
        }
    }
    // &.show {
    //     & > * {
    //         transform: translate(0, 0);
    //         left: 0;
    //         opacity: 1;
    //     }
    // }
    @media (max-width: 600px) {
        &.mobileDelay0 {
            & > * {
                opacity: 1;
                top: 0;
                left: 0;
            }
            & > * {
                transition-delay: 0s;
            }
        }
    }

    &.showNow {
        overflow: hidden;

        & > * {
            animation: showNow 1.4s ease forwards;
            // display: inline;
            background-image: linear-gradient(
                to bottom,
                var(--current-color) 5%,
                transparent
            );
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            * {
                line-height: inherit !important;
            }
        }
    }
}

@keyframes showNow {
    0% {
        opacity: 0;
        transform: translateY(69px);
        background-image: linear-gradient(
                to bottom,
                var(--current-color) 5%,
                transparent 100%
            );
        line-height: 1.5;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        background-image: linear-gradient(
                to bottom,
                var(--current-color) 100%,
                transparent 100%
            );
        line-height: 1.2322;
    }
}
