#swapAnimation {
    --container-width: 1000px;
    position: relative;

    .eachLayer:not(:first-child) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        animation: changingWidth 3s ease infinite;

        .layerInner {
            width: var(--container-width);
        }
    }
}

@keyframes changingWidth {
    0% {
        width: 100%;
    }
    30% {
        width: 0;
    }
    75%,
    100% {
        width: 100%;
    }
}
