.carousel {
    .carouselItem {
        .imgCont {
            padding-top: 76.6525%;
        }
    }
}

#alternatingSection {
    .eachSection {
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        justify-content: center;
        align-items: center;

        .imgCont {
            width: 320px;
        }

        .txtPart {
            flex: 1 400px;
            width: 400px;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        @media (max-width: 500px) {
            gap: 48px;

            .imgCont {
                width: 180.49px;
            }
        }
    }
}
