#welcomeSect {
  background: #ae7fff;
  color: var(--black);
  padding-bottom: 213px;
}
@media (max-width: 500px) {
  #welcomeSect {
    padding-bottom: 168px;
  }
}
#welcomeSect h1 {
  font-family: "Cabinet Grotesk";
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 80px;
}
@media (max-width: 500px) {
  #welcomeSect h1 {
    font-size: 24px;
    margin-bottom: 48px;
  }
}
#welcomeSect .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#welcomeSect .actions .btn:not(.darkBtn) {
  padding: 0;
  color: var(--black);
  font-weight: 500;
  text-decoration: underline;
}
#welcomeSect .actions .leftActions {
  display: flex;
  gap: 32px;
  align-items: center;
}
@media (max-width: 500px) {
  #welcomeSect .actions {
    flex-direction: column;
    gap: 32px;
  }
  #welcomeSect .actions .leftActions {
    flex-direction: column;
    width: 100%;
  }
  #welcomeSect .actions .leftActions .darkBtn {
    height: 52px;
    width: 100%;
  }
  #welcomeSect .actions .btn:not(.darkBtn) {
    height: auto;
  }
  #welcomeSect .actions .btn:not(.darkBtn) img {
    width: 16px;
  }
}

#works {
  padding: 240px 0 0;
}
@media (max-width: 500px) {
  #works {
    padding: 64px 0 0;
  }
}
#works .eachWork {
  text-decoration: none;
  display: block;
}
#works .eachWork:not(:last-child) {
  margin-bottom: 280px;
}
@media (max-width: 500px) {
  #works .eachWork:not(:last-child) {
    margin-bottom: 64px;
  }
}
#works .eachWork .imgCont {
  border-radius: 24px;
  display: flex;
  justify-content: center;
  height: 480px;
  margin-bottom: 24px;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
}
#works .eachWork .imgCont img {
  transition: transform 0.3s ease;
  max-width: 100%;
}
#works .eachWork .label {
  font-size: 64px;
  font-weight: 700;
  color: var(--white);
  font-family: "Cabinet Grotesk";
}
#works .eachWork:hover .imgCont img {
  transform: scale(1.2);
}
#works .eachWork:hover .label {
  text-decoration: underline;
}
#works .eachWork.nachonacho .imgCont {
  background-color: #2475ff;
  align-items: flex-end;
}
#works .eachWork.nachonacho .imgCont img {
  width: 703px;
}
@media (max-width: 500px) {
  #works .eachWork.nachonacho .imgCont img {
    width: 302px;
  }
}
#works .eachWork.bohemian .imgCont {
  background-color: #6b9794;
}
#works .eachWork.bohemian .imgCont img {
  width: 520px;
}
@media (max-width: 500px) {
  #works .eachWork.bohemian .imgCont img {
    width: 250px;
  }
}
#works .eachWork.bolt .imgCont {
  background-color: #34d186;
}
#works .eachWork.bolt .imgCont img {
  width: 594.23px;
}
@media (max-width: 500px) {
  #works .eachWork.bolt .imgCont img {
    width: 288.16px;
  }
}
#works .eachWork.increst .imgCont {
  background-color: #47c1f0;
}
#works .eachWork.increst .imgCont img {
  width: 594px;
}
@media (max-width: 500px) {
  #works .eachWork.increst .imgCont img {
    width: 288.16px;
  }
}
@media (max-width: 500px) {
  #works .eachWork .imgCont {
    height: 240px;
  }
  #works .eachWork .label {
    font-size: 24px;
  }
}

#testimonial {
  padding: 280px 0 280px;
}
#testimonial h2 {
  font-family: "Cabinet Grotesk";
  font-size: 64px;
  color: #fff;
  margin-bottom: 80px;
}
#testimonial .testimonies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 32px;
}
#testimonial .eachTesti {
  padding: 32px;
  border-radius: 24px;
  background: rgba(52, 52, 52, 0.3490196078);
}
#testimonial .eachTesti .picture {
  margin-bottom: 24px;
}
#testimonial .eachTesti .picture img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
#testimonial .eachTesti .name {
  margin-bottom: 8px;
  font-size: 24px;
  font-family: "Cabinet Grotesk";
  font-weight: 800;
}
#testimonial .eachTesti .designation {
  margin-bottom: 16px;
  font-weight: 500;
}
#testimonial .eachTesti .name,
#testimonial .eachTesti .designation {
  color: var(--white);
}
@media (max-width: 500px) {
  #testimonial {
    padding: 80px 0 80px;
  }
  #testimonial h2 {
    font-size: 24px;
    margin-bottom: 64px;
  }
  #testimonial .testimonies {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
  #testimonial .eachTesti {
    padding: 24px;
    border-radius: 16px;
  }
  #testimonial .eachTesti .picture img {
    width: 64px;
    height: 64px;
  }
  #testimonial .eachTesti .name {
    font-size: 20px;
    margin-bottom: 4px;
    font-weight: 700;
  }
}/*# sourceMappingURL=home.css.map */