#designStrategy {
    .strategies {
        .each {
            padding: 44px;

            .icon {
                img {
                    width: 48px;

                    @media (max-width: 500px) {
                        width: 32px;
                    }
                }
            }

            .label {
                font-weight: 700;
                line-height: 1.25;
            }
        }

        @media (max-width: 500px) {
            gap: 24px;
        }
    }
}
