#introSection {
  padding-top: 226px;
}
#introSection h1 {
  font-size: 56px;
  margin-bottom: 64px;
  color: var(--white-tertiary);
}
#introSection h1 em {
  font-style: normal;
  color: var(--white);
}
#introSection img {
  width: 100%;
}
@media (max-width: 500px) {
  #introSection {
    padding-top: 148px;
  }
  #introSection h1 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

#mainContent {
  padding: 120px 0;
}

section h2,
section h3 {
  margin-bottom: 24px;
  color: var(--white);
  font-size: 32px;
  font-family: "Cabinet Grotesk";
}
@media (max-width: 500px) {
  section h2,
  section h3 {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.eachSection {
  max-width: 1030px;
  margin: 0 auto 120px;
  padding: 0 15px;
}
@media (max-width: 500px) {
  .eachSection {
    margin: 0 auto 80px;
  }
}
.eachSection img {
  max-width: 100%;
}
.eachSection .content {
  color: var(--white-secondary);
}
.eachSection strong {
  color: var(--white);
}

#overviewGrid {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
  padding-top: 0 !important;
}
#overviewGrid h2 {
  color: var(--white-tertiary);
  font-size: 20px;
  font-weight: 450;
  margin-bottom: 16px;
}
#overviewGrid .content {
  color: var(--white);
}

.carousel {
  overflow: hidden;
}
.carousel .carouselParent {
  width: 90%;
  overflow: visible;
}
.carousel .carouselParent .indicators,
.carousel .carouselParent .prev,
.carousel .carouselParent .next {
  display: none;
}
.carousel .carouselParent .carouselItem {
  margin-right: 24px;
}
@media (max-width: 500px) {
  .carousel .carouselParent .carouselItem {
    margin-right: 8.23px;
  }
}
.carousel .carouselParent .carouselItem .imgCont {
  padding-top: 68.0211111111%;
  position: relative;
  overflow: hidden;
}
.carousel .carouselParent .carouselItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.carousel .cusIndicatorsAndCtrls {
  display: flex;
  gap: 0;
  margin-top: 24px;
}
.carousel .cusIndicatorsAndCtrls .indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 10px;
}
.carousel .cusIndicatorsAndCtrls .indicators .indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #535558;
  cursor: pointer;
}
.carousel .cusIndicatorsAndCtrls .indicators .indicator.active {
  background: var(--white);
}
@media (max-width: 500px) {
  .carousel .cusIndicatorsAndCtrls .indicators .indicator {
    width: 4.12px;
    height: 4.12px;
  }
}
.carousel .cusIndicatorsAndCtrls .ctrls {
  display: flex;
  gap: 8px;
  align-items: center;
}
.carousel .cusIndicatorsAndCtrls .ctrls [class*=Ctrl] {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  background: var(--white4);
  cursor: pointer;
}
@media (max-width: 500px) {
  .carousel .cusIndicatorsAndCtrls .ctrls [class*=Ctrl] {
    width: 16px;
    height: 16px;
  }
}

.imgTitle {
  text-align: center;
  margin-top: 16px;
  color: var(--white-secondary);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  margin-bottom: 48px;
}
.cards .each {
  padding: 32px;
  border-radius: 16px;
  background: var(--white3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex: 1 300px;
  color: var(--white);
}
.cards .each .count {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1.25;
}
@media (max-width: 500px) {
  .cards {
    gap: 24px;
    margin-bottom: 24px;
  }
  .cards .each .count {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.txtCard {
  padding: 32px;
  border-radius: 16px;
  background: var(--white3);
  color: var(--white);
}

.projectNav {
  color: var(--white);
}
.projectNav .label {
  margin-bottom: 16px;
}
@media (max-width: 500px) {
  .projectNav .label {
    margin-bottom: 8px;
  }
}
.projectNav .name {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
}
.projectNav .name a {
  color: var(--white);
  text-decoration: underline;
  font-family: "Cabinet Grotesk";
}
.projectNav .name img {
  width: 32px;
}/*# sourceMappingURL=works.css.map */