#introSection {
  padding-top: 226px;
}
#introSection h1 {
  font-size: 56px;
  margin-bottom: 64px;
  color: var(--white-tertiary);
}
#introSection h1 em {
  font-style: normal;
  color: var(--white);
}
#introSection img {
  width: 100%;
}

#mainContent {
  padding: 120px 0;
}

section h2 {
  margin-bottom: 24px;
  color: var(--white);
  font-size: 32px;
}
@media (max-width: 500px) {
  section h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.eachSection {
  max-width: 1030px;
  margin: 0 auto 120px;
  padding: 0 15px;
}
.eachSection img {
  max-width: 100%;
}
.eachSection .content {
  color: var(--white-secondary);
  line-height: 1.5;
}
.eachSection strong {
  color: var(--white);
}

#overviewGrid {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
  padding: 0 !important;
}
#overviewGrid h2 {
  color: var(--white-tertiary);
  font-size: 20px;
  font-weight: 450;
  margin-bottom: 16px;
}
#overviewGrid .content {
  color: var(--white);
}

#overview .threeGridAnalysis {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}
#overview .threeGridAnalysis .each {
  flex: 1 300px;
  width: 300px;
  padding: 32px;
  border-radius: 16px;
  background: var(--white3);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: var(--white);
}
#overview .threeGridAnalysis .each .count {
  font-size: 32px;
  margin-bottom: 24px;
}
@media (max-width: 500px) {
  #overview .threeGridAnalysis {
    gap: 24px;
  }
  #overview .threeGridAnalysis .each .count {
    font-size: 24px;
  }
}

.carousel {
  overflow: hidden;
}
.carousel .carouselParent {
  width: 90%;
  overflow: visible;
}
.carousel .carouselParent .indicators,
.carousel .carouselParent .prev,
.carousel .carouselParent .next {
  display: none;
}
.carousel .carouselParent .carouselItem {
  margin-right: 24px;
}
.carousel .carouselParent .carouselItem .imgCont {
  padding-top: 68.0211111111%;
  position: relative;
  overflow: hidden;
}
.carousel .carouselParent .carouselItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.carousel .cusIndicatorsAndCtrls {
  display: flex;
  gap: 0;
  margin-top: 24px;
}
.carousel .cusIndicatorsAndCtrls .indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 10px;
}
.carousel .cusIndicatorsAndCtrls .indicators .indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #535558;
  cursor: pointer;
}
.carousel .cusIndicatorsAndCtrls .indicators .indicator.active {
  background: var(--white);
}
@media (max-width: 500px) {
  .carousel .cusIndicatorsAndCtrls .indicators .indicator {
    width: 4.12px;
    height: 4.12px;
  }
}
.carousel .cusIndicatorsAndCtrls .ctrls {
  display: flex;
  gap: 8px;
  align-items: center;
}
.carousel .cusIndicatorsAndCtrls .ctrls [class*=Ctrl] {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  background: var(--white4);
  cursor: pointer;
}
@media (max-width: 500px) {
  .carousel .cusIndicatorsAndCtrls .ctrls [class*=Ctrl] {
    width: 16px;
    height: 16px;
  }
}

.imgTitle {
  text-align: center;
  margin-top: 16px;
  color: var(--white-secondary);
}/*# sourceMappingURL=works.css.map */